body {
  font-family: "Comfortaa", cursive;
  color: white;
  background: url(../public/background.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.circle {
  height: 55%;
  width: 70%;
}

.center {
  height: 50px;
  width: 120px;
  margin-top:3px;
}
h5{
  margin-top: 17px;
  margin-left: 5px;
}
#memberName {
    color: black;
    outline: black;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: flex-start;
}

#memberCard {
  display: flex;
  flex-direction: column;
  align-content:center;
  justify-content: center;
}
