body {
  font-family: "Comfortaa", cursive;
  color: black;
  background: url(../public/background.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.square {
  height: 200px;
  width: 250px;
}

.center {
  height: 50px;
  width: 120px;
  margin-top:3px;
}
h5{
  margin-top: 17px;
  margin-left: 5px;
  align-self: center;
}
#memberName {
  font-size: 125%;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#memberCard {
  display: flex;
  flex-direction: column;
}

.card-content{
  display: flex;
  justify-content:flex-end;
}


.leaflet-container {
  height: 400px;
  width: 500px;
  align-self:center;
  margin-top: 10;

}
.maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 450px;
  width: 800px;
  top: 100px;
  left: 240px;
  background: #C9CCD1;
  border:1px solid black;
  border-radius: 11px;
  z-index: 99 !important;

}

#closeButton {
      align-self: flex-start;
      background: none;
      margin-right: 10px;

  }
#xbutton {
  background: none;
  border: none;
  border-radius: 50%;
  color: inherit;
  lineHeight: 0;
  outline: none;
  width:0;
  height: 0;
}

.links {
  background: #F4AA54;
  border-color: #F4AA54;
  text-align: center;
  border-width: thin;
}

.card-action {
  display: flex;
  justify-content: space-between;
}
